html, body {
margin:0;
padding:0;
max-width: 100%;
overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #05061a;
}

header {
    background: url("../images/-e-hero-slide11.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 58em;
}

.chainz-mobile {
  display: none;
}

.chainz {
color: white;
max-width: 100%;
font-size: 34px;
margin-top: -1.3em;
text-align: center;
margin-left: -7.5em;
margin-right: 15em;
position: relative;
font-family: 'American Typewriter';
}

.nav-div {
  background-color: black;
 opacity: 0.3;
  max-width: 100%;
  height: 11%;
  border-bottom: .5px solid lightgrey;
}

.header-social-icon {
  max-width: 100%;
  position: relative;
  float: right;
  padding: .8em;
  margin-top: -3em;
  z-index: 10;
}

.header-social-img {
  width: 80%;
}

#nav-login {
  margin-right: .5em;
}

.header-link-container {
  position: relative;
  z-index:10;
  margin-top: -3.5em;
}
.header-link {
  float: left;
  font-family: 'Work Sans', sans-serif;
  color: white;
  padding-left: 1.5em;
  font-weight: 600;
}


.album-title-container {
  width: 50%;
  margin-top: 12em;
  margin-left: 42em;
}

.album-title {
  font-size: 72px;
  font-family: 'Playfair Display', serif;
  color: rgb(255, 255, 255);
  text-align: center;
   text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.35);
}

.button {
  @include my-button;
  margin-top: 1em;
  margin-left: 11em;
}

.arrow {
  display: block;
  margin-top: 2em;
  margin-left: 20.5em;
}
