@media screen and (max-width:1050px) {

.album-title-container {
  width: 40%;
  margin-left: 44em;
}

.album-title {
  font-size: 62px;
}

.button {
margin-left: 5em;
}

.arrow {
  margin-left: 13em;
}

.new-album-container {
  margin-left: 0em;
}

.album-info-container {
  margin-top: -18em;
  margin-left: 24.5em;
}

.tracklist {
  margin-top: .9em;
  margin-left: 34.7%;
}

.track {
  font-size: 11px;
  margin-top: 0em;
  }

  .smaller-image {
  height: 175px;
  padding-left: 4em;
}

#top-right {
  padding-left: 5.7em;
}

.news-container {
  margin-left: 4.5em;
}


.news-top-left {
   width: 130%;
  margin-top: -4.2em;
  margin-left: 4em;
}

.news-text-top-left {
  font-size: 11px;
}

.news-top-right {
  width: 145%;
  margin-left: 5.7em;
}

.news-bottom-left {
  width: 130%;
  height: 50px;
  margin-top: -4.5em;
  margin-left: 4em;
}

.news-text-bottom-left {
  font-size: 11px;
}

.news-bottom-right {
   width: 145%;
  margin-left: 5.7em;
}

.news-text-bottom-right {
  font-size: 11px;
}

.view-more-button {
  margin-top: 2em;
}

.tour-dates {
margin-top: -15%;
margin-left: -18%;
}

.tour-row {
  margin-top: -55%;
  margin-bottom: -.5em;
  margin-left: 50%;
}
.date-pic {
width: 16%;
}
.arena {
margin-left: -9em;
font-size: 12px;
}
.city {
font-size: 11px;
margin-left: -6.5em;
}

.tickets-div {
width: 100px;
  height: 35px;
  margin-left: -7em;
}

.tickets {
font-size: 10px;
padding-top: 1em;
}

.social-footer-icons {
  margin-right: 0em;
}

}

@media screen and (max-width:800px) {
  .chainz {
display: none;
}

  .chainz-mobile {
display: block;
font-size: 28px;
margin-top: -3em;
text-align: center;
position: relative;
font-family: 'American Typewriter';
color: white;
  }

  .header-link-container {
    margin-top: 1em;
  }

  .album-title-container {
  width: 100%;
  margin-left: 0em;
}

.album-title {
  font-size: 62px;
}

.button {
  margin-left: 15em;
}

.arrow {
  margin-left: 25em;
}

.new-album-image {
  width: 50%;
  margin-left: 13em;
}
.album-info-container {
  margin-top: 2em;
  margin-left: 1em;
}

.tracklist {
  width: 150%;
  margin-left: 1em;
}

.track {
  font-size: 12px;
  margin-top: .5em;
}

.news-container {
  max-width: 100%;
  margin-left: 0em;
}

.news-title {
  width: 15%;
}

.smaller-image {
  width: 200%;
  height: 142px;
}

#top-right {
  width: 230%;
 padding-left: 6.7em;
}

.news-text-large {
  padding-top: 1em;
}

.read-more {
  padding-top: .5em;
}


.news-top-left {
  width: 151%;
  margin-top: -4.9em;
  margin-left: 4em;
}

.news-text-top-left {
  margin-top: 10px;
  font-size: 10px;
}

.news-top-right {
  width: 148%;
  margin-top: -4.2em;
  margin-left: 6.7em;
}

.news-text-top-right {
  margin-top: -5em;
  font-size: 11px;
  padding-left: .2em;
  padding-right: .2em;
}

.news-bottom-left {
  width: 151%;
  margin-top: -4.5em;
  margin-left: 4em;
}

.news-text-bottom-left {
  font-size: 10px;
}

.news-bottom-right {
  width: 148%;
  margin-left: 6.6em;
  margin-top: -4.2em;
}

.news-text-bottom-right {
  font-size: 10px;
  padding-left: .5em;
  padding-right: .5em;
}
.smoke-pic {
  margin-left: -20em;
}
.tour-dates {
  width: 25%;
  margin-top: -198%;
  margin-left: 62%;
}

.tour-row {
  width: 60%;
  margin-top: -92%;
  margin-left: 40%;
}
.date-pic {
width: 18%;
}
.arena {
margin-top: 5%;
margin-left: -7.5em;
font-size: 12px;
}
.city {
font-size: 11px;
margin-top: 5%;
margin-left: -2.6em;
}

.tickets-div {
width: 100px;
  margin-top: -2%;
  margin-left: -1.5em;
}

.tickets {
font-size: 12px;
padding-top: .7em;
}

form {
  margin-left: 5%;
}

.footer-label {
  font-size: 11px;
  margin-left: 1%;
}

.social-footer-icons {
  margin-right: 0em;
}

.footer-social-img {
  margin-right: 1em;
}

}




@media screen and (max-width:700px) {

  .nav-div {
  height: 13%;
  padding-bottom: 2%;
}

  .chainz-mobile {
margin-top: -3.6em;
}

.header-link-container {
  position: relative;
  z-index:10;
  margin-left: 3%;
  margin-top: .8em;
}
.header-link {
  padding-left: 3.5%;
}

  .header-social-container  {
  padding-left: 0%;
  margin-left: 0em;
  margin-top: 1.8em;
}
.header-social-icon {
  max-width: 12%;
}

#nav-login {
  max-width: 20%;
  margin-right: 0%;
}

.album-title {
  font-size: 50px;
}
.new-album-image {
  width: 100%;
  margin-left: 0em;
}

.button {
  margin-left: 4em;
}

.arrow {
  margin-left: 11em;
}

.new-album {
  margin-left: -6%;
  font-size: 18px;
}

.album-title-2 {

  font-size: 22px;
  margin-top: 1.2em;
  margin-left: -7.1em;
}


.buy-button-container {
  display: flex;
margin-top: 5.5em;
width: 6%;
margin-left: -21em;

}

.buy-button {
  margin-top: 10%;
  margin-right: 5px;

}


.tracklist {
  display: none;
}

.tracklist-mobile {
  display: block;
  margin-top: 1em;
  margin-left: 1em;
}

.track-mobile {
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  margin-top: .5em;
}

.track-number-mobile {
 color: #c49640;
 display: inline-block;
}
.track-number-mobile:hover {
  width: 1em;
  text-shadow: 1px 1px white;

}

.play-icon:hover{
  width: 1em;
  background-color: white;
}

.track-name-mobile {
  display: inline-block;
  color: white;
  margin-left: 5px;
}

.news-container {
  display: none;
}

.news-container-mobile {
  display: block;
  margin-top: 10%;
}

.news-title-mobile {
  width: 30%;
}

.larger-image-container-mobile {
  margin-top: 7%;
  width: 100%;
}

.larger-image-mobile {
  width: 100%;
  height: 80%;
}

.news-large-container-mobile {
  position: relative;
  margin-top: -4.2em;
  width: 100%;
  text-align: center;
  color: white;
  height: 60px;
  background-color: rgba(17, 23, 63, 0.8);
}

.news-text-large-mobile {
  padding-top: .5em;
  font-family: 'Work Sans', sans-serif;
  opacity: 0.7;
  line-height: 1;
}

.read-more-mobile {
  padding-top: .3em;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #3f456b;
}


.smaller-image-mobile {
  margin-top: 10%;
}



.news-top-left-mobile {
   position: relative;
  width: 100%;
  margin-top: -4em;
  height: 45px;
  background-color: rgba(17, 23, 63, 0.8);
}

.news-text-top-left-mobile {
font-family: 'Work Sans', sans-serif;
  font-style: normal;
  opacity: 0.7;
  text-align: center;
  color: white;
  font-size: 14px;
}

.news-top-right-mobile {
   position: relative;
  width: 105%;
  margin-top: -3.2em;
  height: 45px;
  background-color: rgba(17, 23, 63, 0.8);
}

.news-text-top-right-mobile {
font-family: 'Work Sans', sans-serif;
  font-style: normal;
  opacity: 0.7;
  text-align: center;
  color: white;
  font-size: 14px;
  padding-left: .7em;
  padding-right: .7em;
}

.news-bottom-left-mobile {
   position: relative;
  width: 105%;
  margin-top: -3.2em;
  height: 45px;
  background-color: rgba(17, 23, 63, 0.8);
}

.news-text-bottom-left-mobile {
font-family: 'Work Sans', sans-serif;
  font-style: normal;
  opacity: 0.7;
  text-align: center;
  color: white;
  font-size: 14px;
  padding-left: .5em;
  padding-right: .5em;
}

.news-bottom-right-mobile {
   position: relative;
  width: 105%;
  margin-top: -3.2em;
  height: 45px;
  background-color: rgba(17, 23, 63, 0.8);
}

.news-text-bottom-right-mobile {
font-family: 'Work Sans', sans-serif;
  font-style: normal;
  opacity: 0.7;
  text-align: center;
  color: white;
  font-size: 14px;
  padding-left: .5em;
  padding-right: .5em;
}

.view-more-button {
  margin-top: 2em;
  margin-left: 20%;
}

.smoke-pic {
  margin-top: -8em;
  margin-left: -25em;
}
.tour-dates {
  width: 80%;
  margin-top: -278%;
  margin-left: 10%;
}

.tour-row {
  width: 100%;
  margin-top: -142%;
  margin-left: 5%;

}
.date-pic {
width: 50%;
margin-top: 3%;
margin-left: -135%;
}
.arena {
  margin-top: 8%;
margin-left: -9em;
font-size: 10px;
}
.city {
  margin-top: 10%;
font-size: 10px;
margin-left: -5em;
}

.tickets-div {
width: 70px;
margin-top: -.5em;
  margin-left: -1em;
}

.tickets {
font-size: 10px;
padding-top: 1em;
}

.newsletter {
  width: 60%;
  margin-top: -4em;
  margin-left: 4em;
}

.input-text {
  margin-top: 3em;
  margin-left: -3em;
  font-size: 10px;
  width: 100%;
}

form {
  margin-top: -2em;
  margin-left: 15%;
}

.subscribe-text {
  margin-top: 2em;
  font-size: 10px;
  margin-left: -5em;
}

.subscribe {
width: 100%;
margin-left: -2em;
margin-top: 1em;
}

.privacy-policy {
  margin-top: 1em;
font-size: 10px;
margin-left: -5em;
}

.submit-button {
  margin-top: 1em;
  margin-left: 10%;
}

.footer-label {
  padding-top: 1em;
  margin-top: 1em;
  font-size: 8.5px;
  margin-left: .7em;
}

.social-footer-icons {
  margin-right: 0em;
}

.footer-social-img {
  width: 25%;
  margin-top: 2.5em;
  margin-right: 1.7em;
  padding-bottom: 1em;
}

#fb-footer {
  width: 15%;
}


  }
