.news-container {
  max-width: 90%;
  margin-top: 10%;
  margin-left: 1.5em;
}

.news-container-mobile {
  display: none;
}

#news-link {
  color: #515570;
  margin-left: 1em;
}

.news-title {
  width: 11%;
}

.larger-image {
  margin-top: 3.5em;
  width: 50%;
  height: 40%;
}

.smaller-image-container {
  margin-top: -37.7%;
  margin-left: 44.5%;
}

.smaller-image {
  width: 170%;
  height: 203px;
  padding-left: 5em;
  padding-bottom: 1em;
}

#top-right {
  width: 200%;
  padding-left: 7em;
}

.news-large-container {
  position: relative;
  margin-top: -5.3em;
  width: 50%;
  text-align: center;
  color: white;
  height: 75px;
  background-color: rgba(17, 23, 63, 0.8);
}

.news-text-large {
  padding-top: 1.5em;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  opacity: 0.7;
  line-height: 1;
}

.read-more {
  padding-top: 1em;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #3f456b;
}

.news-top-left {
   position: relative;
  width: 129%;
  margin-top: -4.2em;
  margin-left: 5.1em;
  height: 45px;
  background-color: rgba(17, 23, 63, 0.8);
}

.news-text-top-left {
font-family: 'Work Sans', sans-serif;
  font-style: normal;
  opacity: 0.7;
  text-align: center;
  color: white;
  font-size: 12px;
}

.news-top-right {
   position: relative;
  width: 143%;
  margin-left: 7em;
  height: 45px;
  background-color: rgba(17, 23, 63, 0.8);
}

.news-text-top-right {
font-family: 'Work Sans', sans-serif;
  font-style: normal;
  opacity: 0.7;
  text-align: center;
  color: white;
  margin-top: -4.9em;
  font-size: 12px;
  padding-left: .7em;
  padding-right: .7em;
}

.news-bottom-left {
   position: relative;
  width: 129%;
  margin-top: -4.2em;
  margin-left: 5em;
  height: 45px;
  background-color: rgba(17, 23, 63, 0.8);
}

.news-text-bottom-left {
font-family: 'Work Sans', sans-serif;
  font-style: normal;
  opacity: 0.7;
  text-align: center;
  color: white;
  font-size: 12px;
  padding-left: .5em;
  padding-right: .5em;
}

.news-bottom-right {
   position: relative;
  width: 143%;
  margin-left: 7em;
  margin-top: -4.2em;
  height: 45px;
  background-color: rgba(17, 23, 63, 0.8);
}

.news-text-bottom-right {
font-family: 'Work Sans', sans-serif;
  font-style: normal;
  opacity: 0.7;
  text-align: center;
  color: white;
  font-size: 12px;
  padding-left: 1em;
  padding-right: 1em;
}

.view-more-button {
  background-color: #1f1f33;
  font-family:'Work Sans', sans-serif;
  color: white;
  text-align: center;
  padding: .8em;
  font-size: 18px;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border: 1px solid #1f1f33;
  box-shadow: 1.5px 1.5px #515570;
  margin-top: 3em;
  margin-left: 59%;
  font-weight: 600;
}
