.smoke-pic {
  margin-top: -18%;
  margin-left: -22%;
}

.tour-dates {
  width: 22%;
  margin-top: -26%;
  margin-left: -14%;
}

.tour-row {
  width: 60%;
  margin-top: -50%;
  margin-left: 44%;
}
.date-pic {
width: 18%;
}
.arena {
font-family:'Work Sans', sans-serif;
color: white;
font-weight: 600;
margin-top: 3%;
margin-left: -7.5em;
font-size: 17px;
}
.city {
font-family:'Work Sans', sans-serif;
color: white;
opacity: 0.6;
font-size: 16px;
margin-top: 3%;
margin-left: -3em;
}

.tickets-div {
width: 125px;
  height: 35px;
  background-color: rgb(17, 23, 63);
  margin-top: -2%;
  margin-left: -3.5em;
}

.tickets {
text-align: center;
  font-family:'Work Sans', sans-serif;
color: white;
font-size: 12px;
font-weight: 600;
padding-top: .7em;
}

.tour-mobile {
  display: none;
}
